<h1 [className]="'h1'">A/DOMAINE: LANGUE FRANÇAISE :</h1>
<h2 [className]="'h2'">1- Projet d étude et/ ou de recherche:</h2>
<p [className]="'ppp'">Je projette de poursuivre une formation post-graduée en Master recherche en FLES du fait
    que je suis motivée par l intérêt que je porte à la recherche action pour ce qui concerne le
    domaine de la didactique des langues étrangères, en particulier la didactique du français
    langue étrangère et seconde. Les enseignements menés en licence de français m ont
    encouragée à entreprendre des études approfondies en Master, option didactique. Je
    m intéresse aux questions du français sur objectif spécifique, de la didactique du texte de la
    confrontation des langues et du bi/plurilinguisme et leur transposition didactique en situation
    de classe.</p>



    <h2 [className]="'h2'" >2-Projet professionnel:</h2>
    <p [className]="'ppp'">Dans la mesure où je puisse bénéficier d oune formation en Master recherche en FLES, je
        projette de mener une carrière professionnelle en qualité d oenseignante universitaire. Ceci
        m ouvre des portes pour la recherche scientifique. Je contribuerai à l avancement des
        recherche dans le cadre des travaux conduits en laboratoires et apporterait ma contribution
        pour la formation pédagogique.</p>




        <h1 [className]="'h1'"> B/DOMAINE: INFORMATIQUE  :</h1>
        <h2 [className]="'h2'">Projet D'étude</h2>
        <p [className]="'ppp'">Je projette de poursuivre une formation post-graduée en Master recherche en FLES du fait
    que je suis motivée par l intérêt que je porte à la recherche action pour ce qui concerne le
    domaine de la didactique des langues étrangères, en particulier la didactique du français
    langue étrangère et seconde. Les enseignements menés en licence de français m ont
    encouragée à entreprendre des études approfondies en Master, option didactique. Je
    m intéresse aux questions du français sur objectif spécifique, de la didactique du texte de la
    confrontation des langues et du bi/plurilinguisme et leur transposition didactique en situation
    de classeAyant un master 2 en informatique spécialité Système Informatique et Réseaux (SIR), je
    souhaiterais préparer un master Pro en informatique spécialité réseaux au sein de votre
    établissement dans le but d approfondir mes connaissances déjà acquises, acquérir un
    enseignement scientifique et technique de haut niveau au coeur de cette discipline afin de de
    maitriser des nouvelles méthodes et techniques informatiques dans le domaine des Réseaux et
    être capable de m adapter à l évolution rapide des technologies de l information, effectuer des
    recherches sur les applications, les Réseaux et le développement de logiciels informatiques, et
    d autre part les environnements dans lesquels s exercent ces activités et avoir un bon profil
    d informaticien ce qui me permettra de mettre en exercice mes acquis dans le monde des
    entreprises et les organismes de recherche publics ou privés. pour son accès rapide à
    l information et pour la fiabilité de son traitement des données.</p>


    <h1 [className]="'h1'"> DOMAINE : ECONOMIE ET GESTION  :</h1>
        <h2 [className]="'h2'">1/PROJET D ETUDE :</h2>
        <p [className]="'ppp'">Je souhaite poursuivre mes études supérieurs dans un etablissement françaispour pouvoir
            accéder a un plus haut niveau d études. Mon désir est d approfondir mes connaissances
            théoriques et pratiques déjà acquise, maîtriser les nouvelles techniques et compléter ma
            formation initiale pour atteindre ainsi un niveau de perfection supérieur et de pouvoir
            apprendre d autres nouveautés dans les différents domaines de la science en générale et de
            leconomie-gestion en particulier.
            </p>

            <h2 [className]="'h2'">2/Projet professionnel :</h2>
            <p [className]="'ppp'">L un de mes principaux souhait la poursuite de mes études jusqu a l obtention dedoctorat .
                Mon reve est de faire partie d une équipe de recherche dans le domaines de l economie-gestion
                et pouvoir ainsi rejoindre un centre de recherche et apporté un plus.
                
                </p>