<br>
<div class="col-md-6 offset-md-3">
    <h3> Update Support </h3>
    <form (ngSubmit)="onSubmit()">

        <div class="form-group">
            <label> Title</label>
            <input type="text" class="form-control" id="titre" [(ngModel)]="Fcour.titre" name="titre">
        </div>
        <input type="hidden" ngModel="{{Fcour?.date}}" name="date" class="form-control" id="date">


        <div class="form-group">
            <label>Description</label>
            <input type="text" class="form-control" id="lastName" [(ngModel)]="Fcour.description" name="lastName">
        </div>

        <div class="form-group">
            <label>Type</label>
            <input type="text" class="form-control" id="type" [(ngModel)]="Fcour.type" name="type">
        </div>

        <div class="form-group">
            <label>Content</label>
            <textarea rows="8" cols="20" type="text" [(ngModel)]="Fcour.text" name="text" class="form-control" id="text" placeholder="Write Content.." required></textarea>
        </div>

        <button class="btn btn-success" type="submit">Submit</button>

    </form>
</div>